<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/Reminders">Reminders</a>
      <a href="/StudyPlanner">Study Planner</a>
      <a href="/Search">Search</a>
      <a href="/add-course">Add Course</a>
      <a href="/add-study-session">Add Study Session</a>
    </nav>
    <h1>Welcome to <%= shopName %></h1>
    <footer>
      <p>&copy; 2024 <%= shopName %>. All Rights Reserved.</p>
    </footer>
  </body>
</html>
